@model MeusProtocolos.App.Models.Protocolo

@{
    ViewBag.Title = Model.Titulo;
}

<h2>@Model.Titulo</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Motivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Motivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dia)
        </dt>

        <dd>
            @Convert.ToString(string.Format("{0:dd/MM/yyyy}", Model.Dia))
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hora)
        </dt>

        <dd>
            @Convert.ToString(string.Format("{0:HH:mm}", Model.Hora))
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Atendente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Atendente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OutrasInfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OutrasInfo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Resolvido)
        </dt>

        <dd>
            @if (Model.Resolvido)
            {
                <p class="text-success">Sim</p>
            }
            else
            {
                <p class="text-danger">Não</p>
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Editar", new { id = Model.CodProtocolo }, new { @class = "btn btn-warning btns" })
    @Html.ActionLink("Excluir", "Excluir", new { id = Model.CodProtocolo }, new { @class = "btn btn-danger btns" })
    @Html.ActionLink("Voltar para a lista", "Index", null, new { @class = "btn btn-info btns" })
</p>
